/* Button.module.css */

.button {
  align-self: center;
  width: 100%;
  padding: 10px;
  margin-top: 3rem;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
}

.button:hover {
  background-color: #f40612;
    box-shadow: 0 0 1px #f40612, 0 0 5px #f40612, 0 0 30px #f40612;
}

/* Estilo para botão da playlist (maior e com borda arredondada maior) */
.playlistButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 400px !important;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 0; /* remover margem padrão */
  /* a cor do background será controlada via style inline */
  transition: background-color 0.3s ease;
}

.playlist:hover {
  filter: brightness(0.9); /* efeito hover simples */
}


.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  margin-top: 0;
}

/* Hover azul para botão adicionar */
.iconButton:hover ,
.addButton:hover svg {
  background: none ;
  box-shadow: none ;
  color: #007BFF ;
}

/* Hover vermelho para botão deletar */
.trashButton:hover,
.iconButton:hover ,
.trashButton:hover svg {
  background: none ;
  box-shadow: none ;
  color: #ff4d4f ;
}
