/* Rodape.module.css */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 125px;
  border-top: 4px solid #f40612;
  background-color: #000;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    max-height: 40px;
    width: 100%;
}

.logo h2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: .5rem;
  margin: 0;
  font-size: 2rem;
  color: #f40612;
}


.logo p {
  margin: 0;
  font-size: 1rem;
  color: white;
}