/* src/pages/Signup.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;

}

.form {
  background-color: #1c1c1c;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}


.subtitle {
  color: #aaa;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.footerText {
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}

.link {
  color: #e50914;
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: .5rem;
  margin: 0;
  font-size: 3rem;
  color: #f40612;
}

hr{
  border: solid .15rem #f40612;
  width: 40%;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.button{
  width: 93%;
}
