/* Estilo da seção da PlayList */
p{
  color: white;
}

.section {
  padding: 2rem;
}

/* Cabeçalho com o nome da playlist e os botões */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actionButtons {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Espaço entre a playlist e o carrossel */
.carousel {
  margin-top: 1rem;
}
